<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linsu.proj.mapper.TaskMapper">

    <resultMap type="Task" id="TaskResult">
        <result property="id"    column="id"    />
        <result property="projectId"    column="project_id"    />
        <result property="userId"    column="user_id"    />
        <result property="taskName"    column="task_name"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="predictHours"    column="predict_hours"    />
        <result property="realityHours"    column="reality_hours"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
        <result property="workYear"    column="work_year"    />
    </resultMap>

    <sql id="selectTaskVo">
        select id, project_id, user_id, task_name, start_time, end_time, predict_hours, reality_hours, status, create_time, create_by, update_time, update_by, remark, work_year from b_task
    </sql>

    <select id="selectTaskList" parameterType="Task" resultMap="TaskResult">
        select t.id, t.project_id, t.user_id, t.task_name, t.start_time, t.end_time, t.predict_hours, t.reality_hours, t.status, t.create_time, t.create_by, t.update_time, t.update_by, t.remark, t.work_year,
               p.project_name, u.nick_name
        from b_task t
        left join b_project p on t.project_id=p.id
        left join sys_user u on t.user_id=u.user_id
        <where>
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="taskName != null  and taskName != ''"> and task_name like concat('%', #{taskName}, '%')</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="workYear != null "> and work_year = #{workYear}</if>
        </where>
    </select>

    <select id="selectTaskById" parameterType="Long" resultMap="TaskResult">
        <include refid="selectTaskVo"/>
        where id = #{id}
    </select>

    <insert id="insertTask" parameterType="Task" useGeneratedKeys="true" keyProperty="id">
        insert into b_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">project_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="taskName != null">task_name,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="predictHours != null">predict_hours,</if>
            <if test="realityHours != null">reality_hours,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
            <if test="workYear != null">work_year,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">#{projectId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="taskName != null">#{taskName},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="predictHours != null">#{predictHours},</if>
            <if test="realityHours != null">#{realityHours},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
            <if test="workYear != null">#{workYear},</if>
         </trim>
    </insert>

    <update id="updateTask" parameterType="Task">
        update b_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="taskName != null">task_name = #{taskName},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="predictHours != null">predict_hours = #{predictHours},</if>
            <if test="realityHours != null">reality_hours = #{realityHours},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="workYear != null">work_year = #{workYear},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTaskById" parameterType="Long">
        delete from b_task where id = #{id}
    </delete>

    <delete id="deleteTaskByIds" parameterType="String">
        delete from b_task where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
